@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family: 'nexa';
    src: url('webfonts/Nexa_Free_Light-webfont.eot');
    src: url('webfonts/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Nexa_Free_Light-webfont.woff') format('woff'),
         url('webfonts/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('webfonts/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexa';
    src: url('webfonts/Nexa_Free_Bold-webfont.eot');
    src: url('webfonts/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('webfonts/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('webfonts/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}


body {
      background-image: url('images/pro-rep-bkg.jpg'); background-repeat: y; 
      margin: 0 auto 0 auto;
      padding: 0;
  }


.clear {clear: both;}

#container { width: 868px; margin: 0 auto 40px;  background-color: #ffffff; background: url('images/pro-rep-middle-bkg.jpg') center repeat-y;}
.imgReplace img{ display: block; width: 100%; margin: 0;}
.content form{	margin: 20px 100px 20px 130px;}

.article-leadin {
	font-family: Verdana, sans-serif;
	font-size; 100%;
	margin:0px 20px 0px 0px;
	}

.button { color:#ffffff; background-color:#55487e; padding:15px; border-radius:15px; -moz-border-radius: 15px; -webkit-border-radius:15px; text-transform:uppercase; font-weight:bold; text-decoration:none; white-space:nowrap; font-size: 24px; height: 54px; }





/* FORM STYLES */



fieldset{
	padding: 0;
	margin: 0;
	border: none;
}
fieldset.left{
	float: left;
	width: 66%;
}
fieldset.right{
	float: right;
	width: 33%;
}

label{
	color: #129fb7;
	font-family: 'nexa';
	font-weight: bold;
}

fieldset.left label{
	display: inline-block;
	width: 25%;
	text-align: right;
}

input{
	padding: 3px;
	border-radius: 4px;
	border: 1px solid #666;
	margin: 4px;
}
fieldset.left input{
	width: 60%;
}
input[type=submit]{
	border: none;
	width: 165px;
	height: 40px;
	background: url(images/btn-submit.jpg) no-repeat;
	background-size: 100%;
}

